<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1번째</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/1_css.css">

    <title>Document</title>
</head>
<body>
    <!--class나 id 값이나 한번 지정된 값은 중복해서 사용이 불가하다.-->
    <!--요소의 다른 data값을 사용하더라도 class 자체를 사용이 불가하다-->
    <div id="wrapper_">
        <!-- 1 -->
        <div class="box_form">
            <div class="box_title">
                Title : first<br>
                선언적 렌더링
            </div>
            <div id="app">
                {{ message }}
                {{ message1 }}
            </div>
            
            <div id="app">
                {{ message }}
            </div>  

            <div class="test">
                {{ message }}
            </div>
            <div class="test">
                {{ message2 }}
            </div>
        </div>
        <!-- 2 -->
        <div class="box_form">
            <div class="box_title">
                Title : Second<br>
                &lt; v-bind : title에 관하여 &gt;
            </div>
            <div class="box_explain">
                여기에 나오는 「v-bind」속성은 '디렉티브'라고 한다<br>
                v- 라는 접두어가 있으면 렌더링된 DOM에 의해 특수한 반응형 동작을한다.(jquery의 이벤트기능)<br>
                지금 사용하는 title 이라는 속성은 참고하는 현재는 message라는 Vue인스턴스를 최신상태로 유지시킨다.
                title -> 마우스를 오버해서 값이 출력되도록 한다. popup 이벤트와 비슷<br><br>
                콘솔창에 app2.message = "입력값"을 넣으면 입력값이 출력된다.
            </div>
            <div id="app-2">
                <span v-bind:title="message">
                    내 위에 마우스를 올리면 동적으로 바인딩된 title을 볼수있다.
                </span>
            </div>
        </div>
        <!-- 3 -->
        <div class="box_form">
            <div class="box_title">
                Title : Third<br>
                &lt; v-if에 관하여(true/false) &gt; <br>
                조건문
            </div>
            <div class="box_explain">
                「v-if」속성은 텍스쳐 혹은 지정한 요소의 관해서 true 값인경우 보여지게하고
                false 값인 경우 보여지지 않도록한다.
                텍스트뿐만 아니라 DOM의 구조에도 데이터를 바인딩 할 수 있다.
                Vue 요소가 삽입 업데이트 제거 될때 트랜지션 효과를 줄 수 있다.
            </div>
            <div id="app-3">
                <p v-if="seen">
                    can you see this text?
                </p>
            </div>
        </div>
        <!-- 4 -->
        <div class="box_form">
            <div class="box_title">
                Title : Fourth<br>
                &lt; v-for에 관하여 &gt; <br>
                반복문
            </div>
            <div class="box_explain">
                「v-for」 디렉티브는 배열의 데이터를 바인딩하여 Todo 목록을 표시한다.<br><br>
                콘솔창에 app4.todos.push({ text : 'New item' })으로 입력하면 4번째에 새로운 요소가 입력된다.
            </div>
            <div id="app-4">
                <ol>
                    <li v-for="todo in todos">
                        {{ todo.text }}
                    </li>
                </ol>
            </div>
        </div>
        
        <!-- 5 -->
        <div class="box_form">
            <div class="box_title">
                Title : Fifth<br>
                &lt; v-on에 관하여 &gt; <br>
                사용자 입력 핸들링
            </div>
            <div class="box_explain">
                「v-on」디렉티브는 vue인스턴스에서 메소드를 호출하는 이벤트 리스너를 추가가 가능하다.<br>
                직접적으로 DOM을 건드리지 않고 앱의 상태만을 업데이트한다.<br>
                모든 조작은 Vue에 의해서만 처리가 된다.
            </div>
            <div id="app-5">
                <p> {{ message }}</p>
                <button v-on:click="reverseMessage">메시지 뒤집기</button>
            </div>
        </div>

        <!-- 6 -->
        <div class="box_form">
            <div class="box_title">
                Title : Sixth<br>
                &lt; v-model에 관하여 &gt; <br>
                사용자 입력 핸들링
            </div>
            <div class="box_explain">
                「v-model」디렉티브는 입력과 앱 상태를 양방향으로 바인딩하는 디렉티브<br>
                input 내용을 수정하면 인피던스의 값이 변경된다.
            </div>
            <div id="app-6">
                <p> {{ message }}</p>
                <input v-model="message">
            </div>
        </div>

        <!-- 7 -->
        <div class="box_form">
            <div class="box_title">
               Title : Seventh<br>
               중간 개념 설명<br>
               &lt; 컴포넌트 시스템 &gt; <br>
               컴포넌트를 사용한 작성 방법
            </div>
            <div class="box_explain">
                컴포넌트 시스템이란 작고 독립적이며 재사용할 수 있는 컴포넌트로 구성된<br>
                대규모 application을 구축할 수 있게 해주는 추상적 개념이다.<br>
                <a href="https://kr.vuejs.org/v2/guide/index.html#%EC%BB%B4%ED%8F%AC%EB%84%8C%ED%8A%B8%EB%A5%BC-%EC%82%AC%EC%9A%A9%ED%95%9C-%EC%9E%91%EC%84%B1%EB%B0%A9%EB%B2%95"></a>
                Vue에서 component는 미리 정의돈 옵션을 가진 vue 인스턴스이다. 고로 등록 방법이 비교적 간단하다.
            </div>
            <div id="app-7">
                <ol>
                    <!-- todo-item 컴포넌트의 인스턴스 만들기 -->
                    <!--
                       이제 v-bind를 사용해서 각각의 반복되는 todo-item component에 전달가능
                       
                       이제 각 todo-item에 todo 객체를 제공한다.
                       화면에 나오므로, 각 항목의 컨텐츠는 동적으로 변경이 가능하다.
                       또한 각 구성 요소에 "키"를 제공해야한다(나중에 내용에 추가설명될 예정)
                    -->
                    <todo-item
                        v-for="item in groceryList"
                        v-bind:todo="item"
                        v-bind:key="item.id"
                    ></todo-item>
                    <todo-item
                        v-for="item in groceryList2"
                        v-bind:todo="item"
                        v-bind:key="item.id">
                    </todo-item>
                </ol>
            </div>
        </div>
    </div>

    <!-- 맨 마지막에 로드 함으로써 js 파일 내부의 요소를 html에 넣는다. -->
    <script src="js/1_js.js"></script>    
</body>

</html>